.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    /* above all other content, but behind some items */
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}